# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Databases
*.sqlite
*.sqlite-wal
*.sqlite-shm

# Secrets
*.env
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.dbdata/
*.bak
*.egg-info/
